$pc :1023px;

@mixin pc {
  @media only screen and (min-width: ($pc)){
    @content;
  }
}

* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, p, section, header, footer, nav, form, input, dl, dd, dt, div {
  margin: 0;
  padding: 0;
}

body {
  font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
   "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック",
   "MS PGothic", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* general */

.logo {
  width: 200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: block;
}

.btn {
  display: block;
  width: 40%;
  margin: 1rem auto 2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ad001d;
  color: #ffffff;
  filter: drop-shadow(4px 4px 0 rgba(0,0,0,0.9));
}

.text_em {
  font-weight: bold;
}

.text_alert {
  color: #ad001d;
  font-size: 140%;
}

/* section points */

.points {
  display: block;
  margin-bottom: 1.5rem;
}

.points-title {
  text-align: center;
}

.points-detail {
    display: block;
    width: 90%;
    margin: 0 auto 3rem;
    border: 1px solid #000;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.3));
}

/* section apply-detail */

.apply-title {
  text-align: center;
  margin-bottom: 1rem;
}

.apply-box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #070768;

  dt {
    color: #fff;
    background-color: #070768;
    padding: .8rem;
    font-weight: bold;
  }
  
  dd {
    padding: .5rem;
    line-height: 1.5rem;
  }
}

/* section faq */

.faq-title {
  text-align: center;
}

.faq-box {
  margin: 2em 0;
  padding: 0;
  max-width: 400px;
  label {
    display: block;
    margin: 1.5px 0;
    padding : 11px 12px;
    color :#2f8fcf;
    font-weight: bold;
    background :#a4cbf3;
    cursor :pointer;
    transition: all 0.5s;
  }
  input {
    display: none;
  }
  .faq-show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
  }
}

/*クリックで中身表示*/
.faq-hook:checked + .faq-show {
  height: auto;
  padding: 5px;
  background: #eaeaea;
  opacity: 1;
}
