@charset "UTF-8";

* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
h3,
p,
section,
header,
footer,
nav,
form,
input,
dl,
dd,
dt,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* general */

.logo {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 1rem 0;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  width: 65%;
  margin: 1rem auto 4rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  background-color: #ad001d;
  -webkit-filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.9));
  filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.9));
}

.section-title {
  margin-bottom: 1rem;
  text-align: center;
}

.text_em {
  font-weight: bold;
}

.text_alert {
  font-size: 140%;
  color: #ad001d;
}

.flex {
  display: -webkit-box;
  display: flex;
}

/* section points */

.points {
  display: block;
  margin-bottom: 1.5rem;
}

.points-title {
  text-align: center;
}

.points-detail {
  display: block;
  width: 90%;
  margin: 0 auto 3rem;
  border: 1px solid #000;
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}

/* section apply-detail */

.apply-box {
  width: 85%;
  margin: 0 auto 2rem;
  border: 1px solid #000;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.apply-box dt {
  font-weight: bold;
  padding: .8rem;
  color: #fff;
  background-color: #070768;
}

.apply-box dd {
  line-height: 1.5rem;
  padding: .5rem;
}

/* section faq */

.faq-box {
  width: 90%;
  margin: 0 auto 2rem;
}

.faq-box dl {
  width: 100%;
}

.faq-box dd,
.faq-box dt {
  margin-bottom: 1rem;
}

.faq-box dt p {
  display: inline;
}

.faq-box dd {
  display: -webkit-box;
  display: flex;
  -webkit-transition: .8s;
  transition: .8s;
}

.faq-box dd.hidden {
  display: none;
}

.faq-box .faq-text {
  width: 80%;
}

.faq-circle {
  font-size: .8rem;
  font-weight: bold;
  line-height: 2rem;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: .5rem;
  text-align: center;
  border-radius: 50%;
}

.faq-circle.faq-q {
  color: #fff;
  background-color: #efcc3a;
}

.faq-circle.faq-a {
  color: #fff;
  background-color: #070768;
}

.faq-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 1;
  fill: #4b4b4b;
}

.faq-arrow.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

footer {
  text-align: center;
  color: #fff;
  background-color: #000;
}

footer .footer-box {
  padding: 3rem;
}

footer .footer-box p {
  font-size: .4rem;
  margin-bottom: 1rem;
}

footer .footer-box .footer-logo {
  width: 30%;
  margin: 0 auto;
}