$pc :1023px;

@mixin pc {
  @media only screen and (min-width: ($pc)){
    @content;
  }
}

* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, p, section, header, footer, nav, form, input, dl, dd, dt, div {
  margin: 0;
  padding: 0;
}

body {
  font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
   "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック",
   "MS PGothic", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* general */

.logo {
  width: 200px;
  margin: 0 auto;
  padding: 1rem 0;
  display: block;
}

.btn {
  display: block;
  width: 65%;
  margin: 1rem auto 4rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 10px;
  background-color: #ad001d;
  color: #fff;
  filter: drop-shadow(4px 4px 0 rgba(0,0,0,0.9));
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
}

.text_em {
  font-weight: bold;
}

.text_alert {
  color: #ad001d;
  font-size: 140%;
}

.flex {
  display: flex;
}

/* section points */

.points {
  display: block;
  margin-bottom: 1.5rem;
}

.points-title {
  text-align: center;
}

.points-detail {
    display: block;
    width: 90%;
    margin: 0 auto 3rem;
    border: 1px solid #000;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.3));
}

/* section apply-detail */

.apply-box {
  width: 85%;
  margin: 0 auto 2rem;
  border: 1px solid #000;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
  dt {
    color: #fff;
    background-color: #070768;
    padding: .8rem;
    font-weight: bold;
  }
  dd {
    padding: .5rem;
    line-height: 1.5rem;
  }
}

/* section faq */

.faq-box {
  width: 90%;
  margin: 0 auto 2rem;
  & dl {
    width: 100%;
  }
  & dd, & dt {
    margin-bottom: 1rem;
  }
  & dt p {
    display: inline;
  }
  & dd {
    display: flex;
    transition: .8s;
    &.hidden {
      display: none;
    }
  }
  .faq-text {
    width: 80%;
  }
}

.faq-circle {
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: .8rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
  &.faq-q {
    color: #fff;
    background-color: #efcc3a;  
  }
  &.faq-a {
    color: #fff;
    background-color: #070768;
  }
}

.faq-arrow {
  fill: #4b4b4b;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 1;
  &.active {
    transform: rotate(180deg);
  }
}


footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  .footer-box {
    padding: 3rem;
    p {
      font-size: .4rem;
      margin-bottom: 1rem;
    }
    .footer-logo {
      width: 30%;
      margin: 0 auto;
    }
  }
}